   element.style {
    display: none;
   }
   .my_summary_wrap {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    border: 1px solid #e0e0e0;
    margin-bottom: 13px;
}
.my_content {
    float: right;
    width: 884px;
}
div {
    display: block;
}

.my_summary_box {
    display: table-cell;
    padding: 38px 33px 37px 38px;
    vertical-align: top;
}
.my_summary_title {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 31px;
}
.my_summary_title .title {
    float: left;
    margin-top: 8px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.27;
}
.my_summary_title .number_wrap {
    float: right;
    font-size: 26px;
    font-weight: 300;
    line-height: 41px;
    color: #00ab33;
}
.my_summary_title .number {
    font-family: NanumSquareWebFont,dotum,sans-serif;
    font-size: 37px;
    font-weight: 400;
    letter-spacing: -.5px;
    vertical-align: top;
}
.my_summary_title:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: '';
}
.my_summary_btn_wrap {
    margin-top: 22px;
    text-align: center;
}
.my_summary_btn_green {
    background-color: #e0e0e0;
}
.my_summary_btn_blue, .my_summary_btn_green {
    display: inline-block;
    padding: 0 24px;
    border: 1px solid rgba(0, 0, 0, .03);
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
    color: #fff;
}
.my_summary_box:before {
    position: absolute;
    top: 21px;
    bottom: 21px;
    left: 50%;
    width: 1px;
    background-color: rgba(0, 0, 0, .06);
    content: '';
}