<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.client.notice.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.spring.client.question.vo.QuestionVO" alias="question"/>
    <typeAlias type="com.spring.client.mission.vo.MissionVO" alias="mission" />
    <typeAlias type="com.spring.client.campaignboard.vo.CampaignBoardVo" alias="campaignBoard" />
    <typeAlias type="com.spring.client.missionReply.vo.MissionReplyVO" alias="missionReply" />
    <typeAlias type="com.spring.client.campaignboardReply.vo.CampaignboardReplyVo" alias="campaignboardReply" />
    <typeAlias type="com.spring.admin.campaignboardReply.vo.AdminCampaignboardReplyVo" alias="adminCampaignBoardReply" />
    <typeAlias type="com.spring.admin.login.vo.AdminLoginVO" alias="adminLogin" />
    <!--회원정보-->
	  <typeAlias type="com.spring.client.profile.vo.ProfileVO" alias="profile"/>
	  <typeAlias type="com.spring.client.reply.vo.ReplyVO" alias="reply"/>
</typeAliases>
</configuration>